<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Bem-vindo, {{ user.username }}!</li>
                <li>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Registrar</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
