.frame2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame2-frame2 {
  gap: 10px;
  width: 885px;
  height: auto;
  display: flex;
  padding: 43px 359px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(9, 30, 58, 0.8899999856948853);
}
.frame2-text {
  color: rgba(255, 255, 255, 1);
  width: 167px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
