.calendario-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.calendario-calendario1 {
  width: 1229px;
  height: 669px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 181px 362px 113px 0px rgba(0, 0, 0, 0.009999999776482582) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.calendario-calendarionumbers {
  top: 91.41870880126953px;
  left: 73px;
  width: 575px;
  height: 498.16259765625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.calendario-calendario2 {
  top: 40.58129119873047px;
  left: -12px;
  width: 585.3999633789062px;
  height: 457.4914245605469px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-ellipse2 {
  top: 167.76315307617188px;
  left: 177.48495483398438px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse10 {
  top: 170px;
  left: 0px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse4 {
  top: 232.05230712890625px;
  left: 177.48495483398438px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse6 {
  top: 296.3414306640625px;
  left: 177.48495483398438px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse8 {
  top: 361.8211669921875px;
  left: 177.48495483398438px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse3 {
  top: 167.76315307617188px;
  left: 271.5376281738281px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse5 {
  top: 232.05230712890625px;
  left: 271.5376281738281px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse11 {
  top: 232.05224609375px;
  left: 448px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse7 {
  top: 296.3414306640625px;
  left: 271.5376281738281px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-ellipse9 {
  top: 361.8211669921875px;
  left: 271.5376281738281px;
  width: 52px;
  height: 52px;
  position: absolute;
}
.calendario-date {
  top: 114.88125610351562px;
  left: 12px;
  width: 572.88623046875px;
  height: 342.61016845703125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-numeros {
  top: 0px;
  left: 0px;
  width: 572.88623046875px;
  height: 292.4642333984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text10 {
  top: 63.596778869628906px;
  left: 359.54290771484375px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text11 {
  top: 63.596778869628906px;
  left: 453.5955810546875px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text12 {
  top: 63.596778869628906px;
  left: 546.4576416015625px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text13 {
  top: 125.50484466552734px;
  left: 2.381159543991089px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text14 {
  top: 125.6220932006836px;
  left: 88.46620178222656px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text15 {
  top: 125.6220932006836px;
  left: 178.7020263671875px;
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text16 {
  top: 125.50484466552734px;
  left: 275.0145568847656px;
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text17 {
  top: 125.50484466552734px;
  left: 359.54290771484375px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text18 {
  top: 125.50484466552734px;
  left: 450.0241394042969px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text19 {
  top: 125.50484466552734px;
  left: 546.4576416015625px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text20 {
  top: 191.0871124267578px;
  left: 1.7696117162704468px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text21 {
  top: 190.9845428466797px;
  left: 88.10009002685547px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text22 {
  top: 191.0871124267578px;
  left: 178.7020263671875px;
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text23 {
  top: 190.9845428466797px;
  left: 271.443115234375px;
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text24 {
  top: 191.0871124267578px;
  left: 355.6341247558594px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text25 {
  top: 190.9845428466797px;
  left: 446.452392578125px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text26 {
  top: 190.9845428466797px;
  left: 542.88623046875px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text27 {
  top: 255.273681640625px;
  left: -9.094947017729282e-13px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text28 {
  top: 255.273681640625px;
  left: 85.71892547607422px;
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text29 {
  top: 254.78285217285156px;
  left: 176.93272399902344px;
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text30 {
  top: 256.4642333984375px;
  left: 272.6336975097656px;
  color: rgba(255, 255, 255, 0.44999998807907104);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-antes {
  top: 0.49817147850990295px;
  left: 4.762319087982178px;
  width: 103.7187271118164px;
  height: 29.000001907348633px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text31 {
  top: -0.0000012828937769882032px;
  left: 85.7187271118164px;
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 19.048635482788086px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text32 {
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 19.048635482788086px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-despues {
  top: 254.78285217285156px;
  left: 7.07719612121582px;
  width: 560.7615966796875px;
  height: 87.82731628417969px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text33 {
  top: 58.82728958129883px;
  left: 541.7616577148438px;
  color: rgba(83, 83, 83, 1);
  height: auto;
  position: absolute;
  font-size: 19.048635482788086px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-borderdays1 {
  gap: 13.497756004333496px;
  top: 103px;
  left: 19px;
  width: 558px;
  height: 2px;
  display: flex;
  padding: 13.497756004333496px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 7px;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.5);
}
.calendario-days {
  top: 52.95484161376953px;
  left: 19.143264770507812px;
  width: 557.88623046875px;
  height: 36.51649475097656px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text34 {
  top: 0.5164947509765625px;
  left: 354.7808837890625px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23.810792922973633px;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-setas {
  top: 0px;
  left: 504px;
  width: 81.39994812011719px;
  height: 36.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-adelante {
  top: 0.000004924009772366844px;
  left: 45.39994812011719px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.calendario-atras {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
}
.calendario-component2 {
  top: -17.41870880126953px;
  left: 2px;
  width: 365px;
  height: 58px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: var(--dl-color-default-vinho);
}
.calendario-group2 {
  top: 0px;
  left: 34px;
  width: 331px;
  height: 58px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text35 {
  color: rgba(255, 255, 255, 0.5);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-vuesaxlineararrowdown1 {
  top: 16.999998092651367px;
  left: 280px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.calendario-vuesaxlineararrowdown2 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-arrowdown {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-vector {
  top: 8.949999809265137px;
  left: 4.079999923706055px;
  width: 16px;
  height: 7px;
  position: absolute;
}
.calendario-rectangle3 {
  top: 79px;
  left: 32px;
  width: 306px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-rectangle13 {
  top: 166px;
  left: 32px;
  width: 306px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-rectangle12 {
  top: 137px;
  left: 32px;
  width: 233px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-rectangle15 {
  top: 224px;
  left: 32px;
  width: 233px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-rectangle17 {
  top: 282px;
  left: 32px;
  width: 233px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-rectangle11 {
  top: 108px;
  left: 32px;
  width: 137px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-rectangle14 {
  top: 195px;
  left: 32px;
  width: 137px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-rectangle16 {
  top: 253px;
  left: 32px;
  width: 137px;
  height: 16px;
  position: absolute;
  border-radius: 5px;
}
.calendario-buttonagendar {
  gap: 13.497756004333496px;
  top: 537px;
  left: 682px;
  width: 503px;
  height: 81.61000061035156px;
  display: flex;
  padding: 13.497756004333496px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(9, 30, 58, 0.8899999856948853);
}
.calendario-text36 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26.995512008666992px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-mas {
  top: 599.6282958984375px;
  left: 461.1095275878906px;
  width: 23px;
  height: 23.24140739440918px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.calendario-legenda {
  top: 64px;
  left: 705px;
  width: 481px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-fechado {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text37 {
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23.136281967163086px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.calendario-ellipse271 {
  top: 2px;
  left: 0px;
  width: 24px;
  height: 25px;
  position: absolute;
}
.calendario-disponivel {
  top: 0px;
  left: 158px;
  width: 151px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text38 {
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23.136281967163086px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.calendario-ellipse272 {
  top: 2px;
  left: 0px;
  width: 24px;
  height: 25px;
  position: absolute;
}
.calendario-esgotado {
  top: 0px;
  left: 337px;
  width: 144px;
  height: 28px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text39 {
  left: 40px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 23.136281967163086px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.calendario-ellipse273 {
  top: 2px;
  left: 0px;
  width: 24px;
  height: 25px;
  position: absolute;
}
.calendario-agendados {
  top: 137px;
  left: 645px;
  width: 577.4363403320312px;
  height: 242.99996948242188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text40 {
  left: 16.039718627929688px;
  color: rgba(255, 255, 255, 1);
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 17.185468673706055px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-homedecoresection {
  top: 65.3047866821289px;
  left: 0px;
  width: 577.4363403320312px;
  height: 177.6951904296875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-borderdays2 {
  gap: 15.464351654052734px;
  top: 177.6951904296875px;
  left: 569px;
  width: 97px;
  height: 2px;
  display: flex;
  padding: 15.464351654052734px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8.019886016845703px;
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.5);
}
.calendario-borderdays3 {
  gap: 15.464351654052734px;
  top: 109.98702239990234px;
  left: 569.4116821289062px;
  width: 29.788150787353516px;
  height: 1.145698070526123px;
  display: flex;
  padding: 15.464351654052734px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8.019886016845703px;
  justify-content: center;
  background-color: rgba(251, 100, 107, 1);
}
.calendario-heading {
  top: 0px;
  left: 0px;
  width: 577.4363403320312px;
  height: 45.46612548828125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-text41 {
  top: 0.000002924500904555316px;
  left: 95.09285736083984px;
  color: rgba(0, 0, 0, 1);
  width: 42px;
  height: auto;
  position: absolute;
  font-size: 14.894073486328125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text42 {
  top: 0.000002924500904555316px;
  left: 277.25897216796875px;
  color: rgba(0, 0, 0, 1);
  width: 72px;
  height: auto;
  position: absolute;
  font-size: 14.894073486328125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text43 {
  top: 0.18090657889842987px;
  left: 457.1336364746094px;
  color: rgba(0, 0, 0, 1);
  width: 61px;
  height: auto;
  position: absolute;
  font-size: 14.894073486328125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-line18 {
  top: 45.46613311767578px;
  left: -4.547473508864641e-13px;
  width: 577px;
  height: 1px;
  position: absolute;
}
.calendario-pessoa1 {
  top: 72.2990951538086px;
  left: 0px;
  width: 577.4363403320312px;
  height: 29.668031692504883px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-line191 {
  top: 29.668031692504883px;
  left: -4.547473508864641e-13px;
  width: 577px;
  height: 1px;
  position: absolute;
}
.calendario-text44 {
  top: 3.437100410461426px;
  left: 95.09285736083984px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text45 {
  top: 3.437100410461426px;
  left: 277.25897216796875px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text46 {
  top: 3.437100410461426px;
  left: 458.27911376953125px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text47 {
  top: 0.000003377836492290953px;
  left: 20.62264633178711px;
  color: rgba(255, 255, 255, 1);
  width: 17px;
  height: auto;
  position: absolute;
  font-size: 14.894073486328125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-pessoa2 {
  top: 109.98702239990234px;
  left: 0px;
  width: 577.4363403320312px;
  height: 29.668031692504883px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-line192 {
  top: 29.668027877807617px;
  left: -4.547473508864641e-13px;
  width: 577px;
  height: 1px;
  position: absolute;
}
.calendario-text48 {
  top: 3.437087297439575px;
  left: 95.09285736083984px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text49 {
  top: 3.437087297439575px;
  left: 277.25897216796875px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text50 {
  top: 3.437087297439575px;
  left: 458.27911376953125px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text51 {
  top: -0.0000017996657106778002px;
  left: 20.62264633178711px;
  color: rgba(255, 255, 255, 1);
  width: 25px;
  height: auto;
  position: absolute;
  font-size: 14.894073486328125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-pessoa31 {
  top: 147.7950439453125px;
  left: 0px;
  width: 577.4363403320312px;
  height: 29.668031692504883px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-line193 {
  top: 29.668048858642578px;
  left: -4.547473508864641e-13px;
  width: 577px;
  height: 1px;
  position: absolute;
}
.calendario-text52 {
  top: 3.437117338180542px;
  left: 95.09285736083984px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text53 {
  top: 3.437117338180542px;
  left: 277.25897216796875px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text54 {
  top: 3.437117338180542px;
  left: 458.27911376953125px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text55 {
  top: 0.000020215784388710745px;
  left: 20.62264633178711px;
  color: rgba(255, 255, 255, 1);
  width: 25px;
  height: auto;
  position: absolute;
  font-size: 14.894073486328125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-pessoa32 {
  top: 383px;
  left: 642px;
  width: 577.4363403320312px;
  height: 30.278499603271484px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.calendario-line194 {
  top: 30.278295516967773px;
  left: 0px;
  width: 577px;
  height: 1px;
  position: absolute;
}
.calendario-text56 {
  top: 3.508105516433716px;
  left: 95.0927734375px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text57 {
  top: 4px;
  left: 277px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text58 {
  top: 3.508105516433716px;
  left: 458.279052734375px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 11.456979751586914px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.calendario-text59 {
  top: 0.000020215784388710745px;
  left: 20.62264633178711px;
  color: rgba(255, 255, 255, 1);
  width: 25px;
  height: auto;
  position: absolute;
  font-size: 14.894073486328125px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
