.header-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.headerheader {
  width: 297px;
  height: 41.289390563964844px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.headercontact {
  top: 6px;
  left: 208px;
  width: 89px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.header-text1 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.header-signout {
  gap: 24.4718074798584px;
  top: 0px;
  left: 0px;
  width: 184.89810180664062px;
  height: 41.289390563964844px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.header-group168 {
  width: 21px;
  height: 21.428571701049805px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.header-vector {
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
  position: absolute;
}
.header-text2 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
